input {
  margin: 0;
}

small {
  margin-left: 1em;
  color: #777;
}

table tr:nth-child(even) {
  background-color: #eee;
}

tr.next-round {
  background-color: white !important;
}

tr {
  height: 1.2em;
}

td.value {
  height: 1.2em;
  width: 8em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.change {
  width: 25em;
}

input.vote {
  width: 3em;
}

button {
  margin-left: 1em;
}

button.next-round {
  margin-left: 0;
}

.submit.change {
}

.container {
  margin: 40px;
  padding: 15px;
}

body {
  font-size: 12pt;
}
